@import "tailwindcss";

@layer base {
  html {
    font-family: "SF Pro Display" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  *::-webkit-scrollbar {
    display: none !important;
    scroll-behavior: smooth !important;
  }


  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
    /* The inner container is twice as wide to allow a seamless scroll */
    width: 200%;
  }
  
}
