@import "tailwindcss";

@layer base {
  html {
    font-family: "SF Pro Display" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  *::-webkit-scrollbar {
    display: none !important;
  }

}
