@import "tailwindcss";

@layer base {
  html {
    font-family: "SF Pro Display" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  *::-webkit-scrollbar {
    display: none !important;
    scroll-behavior: smooth !important;
  }

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
  }

  .slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  .slide {
    flex: 0 0 100%;
  }
}
